/*header*/
.header {
	max-width: 1440px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	padding: 4.7rem 0 4rem;
	background-color: #FFFFFF;

	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		// .header__logo

		&__logo {
			font-size: 2.4rem;
			font-weight: 700;
		}

	
		// .header__menu-list

		&__menu-list {
			display: flex;
			align-items: center;
		}

		// .header__menu-item

		&__menu-item {
			&:not(:last-child) {
				margin-right: 4rem;
			}
		}

		// .header__menu-link

		&__menu-link {
			font-weight: 700;
			color: #5C6A79;
			text-transform: uppercase;

			&_active {
				font-weight: 900;
				color: #1C2A39;
			}
		}

		// .header__icons

		&__icons {
			display: flex;
			align-items: center;
		}

		// .header__icons-item

		&__icons-item {
			&:not(:last-child){
				margin-right: 5rem;
			}
		}
}

@media (max-width: 768px) {
	.header {
		&__icons {
			margin-right: 6rem;
		}

		&__icons-item:not(:last-child){
			margin-right: 3rem;
		}

		&__menu-list{
			display: none;
		}

		&__burger{
			display: block;
			position: absolute;
			right: 2rem;
			top: 4.8rem;
			width: 30px;
			height: 20px;
			z-index: 21;
		}

		&__burger span {
			position: absolute;
			background-color: #4C3DB2;
			left: 0;
			top: 9px;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease 0s;
		}

		&__burger::before,
		&__burger::after{
			content: '';
			background-color: #4C3DB2;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		&__burger::before{
			top: 0;
		}

		&__burger::after{
			bottom: 0;
		}

		&__burger_active span{
			transform: scale(0);
		}

		&__burger_active::before {
			background-color: #fff;
			transform: rotate(45deg);
			top: 9px;
		}

		&__burger_active::after {
			background-color: #fff;
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&__menu-list{

			&_active{
				position: absolute;
				z-index: 6;
				display: block;
				overflow: auto;
				top: 0;
				left: 0;
				background-color: #9E98DC;
				width: 100vw;
				height: 100vh;
			
				.header__menu-item{
					margin: 0;
					text-align: center;
					
					&:not(:last-child) {
						margin-bottom: 50px;
					}

					&:first-child {
						margin: 100px 0px 50px;
					}
			
					.header__menu-link {
							color: #fff;
							font-size: 2rem;
						}
				}
         }
		}
	}
}

@media (max-width: 480px) {
	.header {
		padding: 3rem 0;

		&__navigation {
			flex-direction: column;
			align-items: start;
		}

		&__logo {
			margin-bottom: 2rem;
		}
	}
}
