html {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	line-height: 100%;
	color: #5C6A79;
}

.wrapper {
	margin: 0 auto;
	max-width: 1440px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 1.5rem;
	max-width: 1150px;
	
}

.title-font {
	font-family: "Montserrat", sans-serif;
	color: #1C2A39;
}


/*header*/
.header {
	max-width: 1440px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	padding: 4.7rem 0 4rem;
	background-color: #FFFFFF;

	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		// .header__logo

		&__logo {
			font-size: 2.4rem;
			font-weight: 700;
		}

	
		// .header__menu-list

		&__menu-list {
			display: flex;
			align-items: center;
		}

		// .header__menu-item

		&__menu-item {
			&:not(:last-child) {
				margin-right: 4rem;
			}
		}

		// .header__menu-link

		&__menu-link {
			font-weight: 700;
			color: #5C6A79;
			text-transform: uppercase;

			&_active {
				font-weight: 900;
				color: #1C2A39;
			}
		}

		// .header__icons

		&__icons {
			display: flex;
			align-items: center;
		}

		// .header__icons-item

		&__icons-item {
			&:not(:last-child){
				margin-right: 5rem;
			}
		}
}

@media (max-width: 768px) {
	.header {
		&__icons {
			margin-right: 6rem;
		}

		&__icons-item:not(:last-child){
			margin-right: 3rem;
		}

		&__menu-list{
			display: none;
		}

		&__burger{
			display: block;
			position: absolute;
			right: 2rem;
			top: 4.8rem;
			width: 30px;
			height: 20px;
			z-index: 21;
		}

		&__burger span {
			position: absolute;
			background-color: #4C3DB2;
			left: 0;
			top: 9px;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease 0s;
		}

		&__burger::before,
		&__burger::after{
			content: '';
			background-color: #4C3DB2;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		&__burger::before{
			top: 0;
		}

		&__burger::after{
			bottom: 0;
		}

		&__burger_active span{
			transform: scale(0);
		}

		&__burger_active::before {
			background-color: #fff;
			transform: rotate(45deg);
			top: 9px;
		}

		&__burger_active::after {
			background-color: #fff;
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&__menu-list{

			&_active{
				position: absolute;
				z-index: 6;
				display: block;
				overflow: auto;
				top: 0;
				left: 0;
				background-color: #4C3DB2;
				width: 100vw;
				height: 100vh;
			
				.header__menu-item{
					margin: 0;
					text-align: center;
					
					&:not(:last-child) {
						margin-bottom: 50px;
					}

					&:first-child {
						margin: 100px 0px 50px;
					}
			
					.header__menu-link {
							color: #fff;
							font-size: 2rem;
						}
				}
         }
		}
	}
}

@media (max-width: 480px) {
	.header {
		padding: 3rem 0;

		&__navigation {
			flex-direction: column;
			align-items: start;
		}

		&__logo {
			margin-bottom: 2rem;
		}
	}
}

/*main*/
main {
	padding: 11.6rem 0 7.4rem;
}
/*slider*/
.slider {
	position: relative;
		// .slider__content

		&__content {
			margin-bottom: 15.1rem;
		}

		// .slider__body

		&__body {
			position: relative;
			height: 70.2rem;
			margin-bottom: 1.7rem;
		}

		// .slider__item

		&__item {
			width: 100%;
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom;
			}
		}

		// .slider__dots

		&__dots {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		// .slider__dot

		&__dot {
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 50%;
			background-color: #EFEEF6;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 1.7rem;
			}

			// .slider__dot_active

			&_active {
				background-color: #9E98DC;
			}
		}

		// .slider__dopinfo

		&__dopinfo {
			padding: 0 2rem 2rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;

			// .slider__dopinfo_violet

			&_violet {
				position: absolute;
				top: 7.9rem;
				right: -6.3rem;
				width: 14.9rem;
				height: 20.4rem;
				background-color: #9E98DC;
			}

			// .slider__dopinfo_rose

			&_rose {
				position: absolute;
				bottom: 7rem;
				right: 0;
				width: 13.7rem;
				height: 27.3rem;
				background-color: #FF8FE6;
			}
		}

		// .slider__dopinfo-text

		&__dopinfo-text {
			margin-bottom: 0.4rem;
			font-size: 1.8rem;
			font-weight: 700;
			text-transform: uppercase;
		}
}

@media (max-width: 1280px) {
	.slider {
		&__body {
			height:68rem;
		}

		&__dopinfo-text {
			font-size: 1.6rem;
		}

		&__dopinfo_violet {
			top: 2rem;
			right: -2rem;
			width: 12rem;
			height: 16rem;
		}

		&__dopinfo_rose {
			bottom: -2rem;
			width: 11rem;
			height: 14rem;
		}
	}
}

@media (max-width: 1024px) {
	.slider {
		&__body {
			height: 57rem;
		}

		&__dopinfo-text {
			font-size: 1.4rem;
		}

		&__dopinfo_violet {
			top: 2rem;
			right: -2rem;
			width: 10rem;
			height: 14rem;
		}

		&__dopinfo_rose {
			bottom: -2rem;
			width: 9rem;
			height: 12rem;
		}
	}
}

@media (max-width: 880px) {
	.slider {
		&__body {
			height: 50rem;
		}
	}
}

@media (max-width: 768px) {
	.slider {
		&__body {
			height: 42rem;
		}

		&__dopinfo {
			padding: 1rem;
		}

		&__dopinfo-text {
			font-size: 1.2rem;
		}

		&__dopinfo_violet {
			width: 8rem;
			height: 12rem;
		}

		&__dopinfo_rose {
			width: 7rem;
			height: 10rem;
		}
	}
}

@media (max-width: 660px) {
	.slider {
		&__body {
			height: 36rem;
		}

		&__dopinfo {
			&_violet{
			top: 36.9rem;
			right: 10rem;
			width: 10rem;
			height: 12rem;
			}

			&_rose {
			bottom: -10rem;
			right: 1.5rem;
			width: 9rem;
			height: 12rem;
			}
		}
	}
}

@media (max-width: 560px) {
	.slider {
		&__body {
		height: 30rem;
		}

		&__dopinfo {

			&_violet{
			top: 34.9rem;
			height: 8rem;
			}

			&_rose {
			bottom: -10rem;
			height: 8rem;
			}
		}
	}
}

@media (max-width: 480px) {
	.slider {
		&__body {
			height: 25.5rem;
		}

		&__dopinfo {
			padding: 0.5rem;

			&_violet{
				top: 30.4rem;
				right: 12rem;
				width: 12rem;
				height: 6rem;
			}

			&_rose {
				bottom: -8rem;
				width: 11rem;
				height: 6rem;
			}
		}

		&__dopinfo-text {
			font-size: 1rem;
		}
	}
}

@media (max-width: 360px) {
	.slider {
		&__body {
			height: 20rem;
		}

		&__dopinfo {
			&_violet {
				top: 25rem;
			}
		}
	}
}
/*---------------------------------------------*/


.books {
	position: relative;
		// .books__items

		&__items {
			margin-left: 19.6rem;
			margin-bottom: 9.6rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 7.6rem;
			row-gap: 9.6rem;
		}

		// .books__category

		&__category {
			position: absolute;
			left: 0;
			top: -4.6rem;
			z-index: -1;
		}

		&__button {
			margin: 0 auto;
		}
}

.card-book {
	display: flex;
	align-items: center;

		// .card-book__img

		&__img {
			margin-right: 3.6rem;
			max-width: 21.2rem;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		// .card-book__autor

		&__autor {
			margin-bottom: 0.4rem;
		}

		// .card-book__title

		&__title {
			margin-bottom: 0.4rem;
			font-size: 1.6rem;
			font-weight: 700;
		}

		// .card-book__rating

		&__rating {
			margin-bottom: 1.6rem;
		}

		// .card-book__text

		&__text {
			margin-bottom: 1.6rem;
			max-width: 17.6rem;
		}

		// .card-book__price

		&__price {
			margin-bottom: 1.6rem;
			font-size: 1.3rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		// .card-book__button

		&__button {
			width: 17.6rem;
			height: 4.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			border: 0.1rem solid #4C3DB2;
			font-size: 0.8rem;
			font-weight: 700;
			text-transform: uppercase;
			color: #4C3DB2;
			background-color: #FFFFFF;
		}
}

.rating {
	display: flex;
	align-items: center;

		// .rating__stars

		&__stars {
			margin-right: 0.6rem;
			display: flex;
			align-items: center;
		}

		// .rating__star

		&__star {
			&:not(:last-child) {
				margin-right: 0.1rem;
			}
		}
}

.category {
	padding-top: 4.5rem;
	width: 41.6rem;
	height: 71rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #EFEEF6;

		// .category__item

		&__item {
			font-size: 1.2rem;
			font-weight: 500;
			color: #5C6A79;

			&:not(:last-child) {
				margin-bottom: 2.3rem;
			}
			// .category__item_active

			&_active {
				position: relative;
				font-size: 1.6rem;
				font-weight: 700;
				color: #1C2A39;

				&::before {
					content: "";
					position: absolute;
					left: -1.4rem;
					top: 0.5rem;
					width: 0.6rem;
					height: 0.6rem;
					border-radius: 50%;
					background-color: #756AD3;
				}
			}
		}
}

@media (max-width: 1280px) {
	.books {
		&__items {
			column-gap: 3rem;
		}
	}

	.card-book {
		&__img {
			margin-right: 2rem;
		}
	}
	.category {
		width: 20rem;
	}
}

@media (max-width: 1024px) {
	.books {
		&__items {
			margin-left: 15rem;
			margin-bottom: 5rem;
			column-gap: 2rem;
			row-gap: 5rem;
		}
	}

	.card-book {
		&__img {
			margin-right: 1rem;
		}

		&__rating {
			margin-bottom: 1rem;
		}

		&__button {
			width: 10rem;
			height: 3rem;
		}

		&__title {
			font-size: 1.4rem;
		}
	}

	.category {
		width: 16rem;
		height: 81rem;

		&__item:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	.books__button {
		width: 17.6rem;
		height: 4.5rem;
	}
}

@media (max-width: 768px) {
	.books {
		&__items {
			margin-left: 21rem;
			grid-template-columns: 100%;
		}
	}
	
	.card-book {
		&__img {
			width: 50%;
			margin-right: 2rem;
		}

		&__autor {
			font-size: 1.2rem;
		}

		&__title {
			font-size: 1.6rem;
		}

		&__text {
			max-width: 20rem;
			font-size: 1.2rem;
		}
	}

	.category {
		width: 20rem;
	}
}

@media (max-width: 570px) {
	.books {
		&__items {
			margin-left: 14rem;
		}
	}
	.category {
		width: 16rem;
	}
}

@media (max-width: 480px) {
	.category {
		margin-bottom: 2rem;
		padding: 3rem;
		position: static;
		width: 100%;
		height: 35rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
		grid-auto-rows: 2rem;
		gap: 2rem;

		&__item:not(:last-child) {
			margin-bottom: 0;
		}
	}

	.books {
		position: static;

		&__items {
			margin-left: 0;
		}
	}
	/*
	}*/
}
@media (max-width: 360px) {
	.card-book {
		&__img {
			margin-right: 1rem;
		}

		&__autor {
			font-size: 1rem;
		}

		&__title {
			font-size: 1.4rem;
		}

		&__text {
			margin-bottom: 1.2rem;
			font-size: 1rem;
		}

		&__price {
			margin-bottom: 1.2rem;
			font-size: 1.4rem;
		}
	}
}